.cover__link {
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15% 0;
    margin-left: 48px;
    margin-right: 48px;
}

.cover__link::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.3s;
}

.cover__link:hover::before {
    transition: opacity 0.3s;
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__link {
        margin-left: 0;
        margin-right: 0;
    }
}