.cover__subtitle {
    
width: 360px;
height: 66px;
margin: 0;



font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* or 122% */

text-align: center;
z-index: 1;
}