.lead__title {
    display: flex;
    justify-content: center;
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 100px;
/* or 104% */

text-align: center;
    width: 720px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    margin-top: 56px;
    
    text-align: center;
}