.cover__title {
    width: 40%;

    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    
    margin: 0;
    margin-bottom: 32px;

text-align: center;
z-index: 1;
color: #FFFFFF;
}

